html {
    scroll-behavior: smooth;
}

body{
    margin:0;
}

#header{
    background-color: black;
    color:white;
}

#slide{
    width:100%;
    height:10em;
    margin-bottom: 10px;
    border-bottom: solid .5px black;
}

#explanation{
    width: 100%;
    border-top: solid .5px black;
    border-bottom: solid .5px black;
}

#links{
    display:flex;
}

.links{
    border: solid .5px black;
    width:30%;
}

#link1{
    margin-right:5%;
    margin-top:10px;
}

#link2{
    margin-right:5%;
    margin-top:10px;
}

#link3{
    margin-top:10px;
}

#page_top {
    font-size: 13px;
    writing-mode: vertical-rl;
    padding: 10px 0 10px 4px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 102, 0);
    border: solid 2px;
    border-radius: 9999px;
    transition: 0.3ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#page_top:hover {
    background-color: rgba(255, 255, 255, 0.708);
    color: rgb(255, 102, 0);
}